<h1><%= "#{pluralize(@students.count, "student")}" %></h1>

<table class = "pure-table pure-table-bordered">
    <thead>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Title</td>
            <td>Department</td>
            <td>Mozzer ID</td>
        </tr>
    </thead>
    <tbody>

    <% @students.each do |s| %>
        <tr>
            <td><%= link_to "#{s.first_name} #{s.last_name}", student_url(s) %></td>
            <td><%= s.first_name %></td>            
            <td><%= s.last_name %></td>            
            <td><%= s.title %></td>            
            <td><%= s.department %></td>            
            <td><%= s.moz_number %></td>            
        </tr>
    <% end %>

    </tbody>
</table>

<br>

<%= link_to('New Student', new_student_path) %>