<% content_for :title, "Enrollments" %>

<div class="page-header">
    <h1><%= "#{pluralize(@enrollments.count, "enrollment")}" %></h1>
</div>

<div class="widetable">
    <table id="enrollments" class="ptrAppTable table table-striped table-bordered">
        <thead>
            <tr>
                <td>Enrollment ID</td>
                <td>Student</td>
                <td>Course</td>
                <td>Offer Date</td>
            </tr>
        </thead>
        <tbody>

        <% @enrollments.each do |e| %>
            <tr>
                <td><%= e.id %></td>
                <td><%= link_to "#{e.student.first_name} #{e.student.last_name}", student_url(e.student_id) %></td>
                <td><%= link_to e.offer_date.course.name, course_url(e.offer_date.course_id) %></td>
                <td><%= e.offer_date.date %></td>
            </tr>
        <% end %>

        </tbody>
    </table>

    <%= link_to new_enrollment_path do %>
      <h5><i class="fa fa-plus-circle"></i> Add an New Enrollment</h5>
    <% end %>

</div>
