<h1><%= "#{pluralize(@enrollments.count, "enrollment")}" %></h1>

<table class = "pure-table pure-table-bordered">
    <thead>
        <tr>
            <td>Enrollment ID</td>
            <td>Student</td>
            <td>Class</td>
        </tr>
    </thead>
    <tbody>

    <% @enrollments.each do |e| %>
        <tr>
            <td><%= e.id %></td>
            <td><%= link_to "#{Student.find_by(:id => e.student_id).first_name} #{Student.find_by(:id => e.student_id).last_name}", student_url(e.student_id) %></td>
            <td><%= link_to "#{Course.find_by(:id => e.course_id).name}", course_url(e.course_id) %></td>
        </tr>
    <% end %>

    </tbody>
</table>

<br>

<%= link_to('New Enrollment', new_enrollment_path) %>