<% content_for :title, "Enrollments" %>

<div class="page-header">
    <h1>Enrollment Created (ID <%= @enrollment.id %>)</h1>
</div>

<h2>Course</h2>
<ul>
    <li>Name: <%= @enrollment.offer_date.course.name %></li>
    <li>Date: <%= @enrollment.offer_date.date %></li>
</ul>
<h2>Student</h2>
<ul>
    <li>ID: <%= @enrollment.student_id %></li>
    <li>Name: <%= @enrollment.student.full_name %></li>
</ul>
