<% content_for :title, "Courses" %>

<div class="page-header">
    <h1><%= "#{pluralize(@courses.count, "course")}" %></h1>
</div>

<%= link_to new_course_path do %>
  <h5><i class="fa fa-plus-circle"></i> Create a New Course</h5>
<% end %>


<div class="widetable">
    <table id="courses" class="ptrAppTable table table-striped table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Catalog</td>
                <td>Description</td>
                <td>Dates Scheduled</td>
                <td>Total Enrollment</td>
            </tr>
        </thead>
        <tbody>

        <% @courses.each do |c| %>
            <tr>
                <td><%= link_to c.name, course_url(c) %></td>
                <td><%= c.catalog %></td>
                <td><%= c.description %></td>
                <td><%= c.offer_dates.count %></td>
                <td><%= c.students.all.count %></td>
            </tr>
        <% end %>

        </tbody>
    </table>
</div>
