<% content_for :title, t('courses.title') %>

<div class="page-header">
    <h1><%= "#{pluralize(@courses.count, "course")}" %></h1>
</div>

<%= link_to new_course_path do %>
  <h5><i class="fa fa-plus-circle"></i> <%= t('courses.create') %></h5>
<% end %>

<div class="widetable">
    <table id="courses" class="ptrAppTable table table-striped table-bordered">
        <thead>
            <tr>
                <td><%= t('courses.name') %></td>
                <td><%= t('courses.catalog') %></td>
                <td><%= t('courses.description') %></td>
                <td><%= t('courses.dates_scheduled') %></td>
                <td><%= t('courses.total_enrollment') %></td>
            </tr>
        </thead>
        <tbody>

        <% @courses.each do |c| %>
            <tr>
                <td><%= link_to c.name, course_url(c) %></td>
                <td><%= c.catalog %></td>
                <td><%= c.description %></td>
                <td><%= c.offer_dates.count %></td>
                <td><%= c.students.all.count %></td>
            </tr>
        <% end %>

        </tbody>
    </table>
</div>
