<% content_for :title, "Courses" %>

<div class="page-header">
  <h1>Course: <%= @course.name %></h1>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    Catalog ID <b><%= @course.catalog %></b>
    <%= link_to edit_course_path(@course), :id => "edit_course" do %>
        <i data-toggle="tooltip" data-placement="right" title="Edit course information" class="glyphicon glyphicon-edit"></i>
    <% end %>
  </div>
  <div class="panel-body">
    <%= @course.description %>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <b>Course Offering &amp; Enrollment Information</b>
  </div>
  <div class="panel-body">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#offer_dates" aria-controls="offer_dates" role="tab" data-toggle="tab">Scheduled Dates
        <span class="badge"><%= @offer_dates.count %></span></a>
      </li>
      <li role="presentation"><a href="#students" aria-controls="students" role="tab" data-toggle="tab">Students
        <span class="badge"><%= @total_enrollment.count %></span></a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <!-- offer dates -->
      <div role="tabpanel" class="tab-pane fade in active" id="offer_dates">
        <h2><%= "#{pluralize(@offer_dates.count, "Offer Date")} for this Course" %></h2>
        <table id="offer_dates" class="ptrAppTable table table-striped table-bordered">
          <thead>
            <tr>
              <td>Offer Date</td>
              <td>Capacity</td>
              <td>Enrolled</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody>
            <% @offer_dates.each do |od| %>
            <tr>
              <td><%= od.date %></td>
              <td><%= od.size %></td>
              <td><%= od.students.count %></td>
              <td><%= link_to('Edit', edit_course_offer_date_path(@course, od)) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to(new_course_offer_date_path(@course)) do %>
          <h5><i class="fa fa-plus-circle"></i> Add Offer Date</h5>
        <% end %>
      </div>

      <!-- students -->
      <div role="tabpanel" class="tab-pane fade" id="students">
        <h2><%= "#{pluralize(@total_enrollment.count, "Enrollment")} for this Course" %></h2>
        <table id="students" class="ptrAppTable table table-striped table-bordered" style="width:100%;">
          <thead>
            <tr>
              <td>Name</td>
              <td>Department</td>
              <td>Enrolled Date</td>
            </tr>
          </thead>
          <tbody>
            <% @students.each do |student| %>
             <% student.offer_dates.each do |offer_date| %>

                <tr>
                  <td><%= link_to(student.full_name, student_path(student)) %></td>
                  <td><%= student.department %></td>
                  <td><%= offer_date.date %></td>
                </tr>

              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

    </div><!-- tab-content -->

  </div><!-- panel-body -->
</div><!-- panel -->

